
.container__venue {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.container_venue-left {
    width: 50%;
    padding: 50px 20px;
}

.container_venue-right {
    width: 150px;
    padding: 50px 20px;
}

.container_venue-summary {
    padding: 20px 0;
}

#button-unfave{
    background: none;
    border: none;
    padding: 5px 7px;
    color: red;
    font-size: 24px;
    font-weight: bold;
    -webkit-text-stroke: 2px red;
}

#button-unfave:hover{
    background: none;
    border: none;
    padding: 5px 7px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    -webkit-text-stroke: 2px red;
}

#button-unfave-clicked{
    background: none;
    border: none;
    padding: 5px 7px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    -webkit-text-stroke: 2px rgb(255, 124, 124);
}

#button-addfave{
    background: none;
    border: none;
    padding: 5px 7px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    -webkit-text-stroke: 2px red;
}

#button-addfave:hover{
    background: none;
    border: none;
    padding: 5px 7px;
    color: red;
    font-size: 24px;
    font-weight: bold;
    -webkit-text-stroke: 2px red;
}

#button-addfave-clicked{
    background: none;
    border: none;
    padding: 5px 7px;
    color: rgb(255, 124, 124);
    font-size: 24px;
    font-weight: bold;
    -webkit-text-stroke: 2px rgb(255, 124, 124);
}
