/* .calender{
    background-color: white;
    padding-left: 25px;
    border-radius: 3px;
}

.react-datepicker {
    background-color: red;
}

.react-datepicker__header {
    background-color: yellow;
} */