/* Body */
.form-container{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    width: 400px;
    height: 400px;
    padding: 10px;
    text-align: center;
}

.form-errors{
    height: 5px;
}

.login--element{
    height: 50px;
    width: 250px;
    margin: 10px 20px;
    padding: 0 20px;
    font-size: 20px;
}
